
    body{
        background-color: #EDE4E0!important;
        font-family: 'Montserrat', sans-serif !important;
        
        
    }

    nav.navbar{
        background-color: #C8DBBE !important ;

    }
    a{
        color: black !important;
        font-weight: 900 !important;
    }
    
    .mainSection{
    margin: 50px 50px;
    width: 90%;
    border: 2px solid red;
   
    }
   
    .navigationSection{
        text-align: center;
    }

    .navigationSection > .links{
        padding: 20px;
        width: 50%;
        margin: auto    ;
    }
    .links >a >button{
        
        margin:10px 10px 30px 10px;
       
       
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    
 
        text-align: center;
    }

    section > div > a > button{
        margin-bottom: 15px;
    }


   
    
    
